mixin committees-card(group)
  .committee-item.col-xs-6.col-md-4
    .item-inner
      .img-container(style="background-image:url('#{group.imageUrl}')")
        .scrim-bottom
        h3 #{group.name}
      .item-info
        for officer in group.officers
          a.officer-bubble(href='/contact.html') #{officer}
        br
        h5 Weekly Meetings
        p #{group.meetTime} @#{group.meetLoc}
        br
        a.more(href="#{pageUrl}") Learn more

mixin events-card(group)
  .item.col-xs-12
    a(href="#{group.pageUrl}").item-inner.col-xs-12
      .img-container.col-xs-12.col-md-4(style="background-image:url('#{group.imageUrl}')")
      .item-info.col-md-8
        h3 #{group.name}
        h5 #{group.setting}
        br
        p #{group.info}

mixin related-event-card(event)
  - var ev = content.events[event]

    a.item.col-md-4(href="#{ev.pageUrl}")
      .item-inner.card(style="background-image:url('#{ev.imageUrl}')")
        h4 #{ev.name}
        .scrim-top

mixin resource-card(res)
  - var resource = content.resources[res]
  a.app.col-sm-4(href='#{resource.link}', target='_blank')
    .app-inner.card
      h4 #{resource.name}
      br
      strong Application Deadline:
      |  #{resource.deadline}