block vars
  - var title = 'Title'
  - var subtitle = 'Subtitle'
  - var maintext = 'Main text'
  //- bubbles key = text, value = href
  - var bubbles = {}

#intro.jumbotron
  #intro-text.container
    h1 #{title}
    h4 #{subtitle}
    br
    each link, label in bubbles
      a.officer-bubble(href='#{link}', target='_blank') #{label}
    p#main-text #{maintext}
  a#scroll-next(data-scroll='', href='#content')
    span.glyphicon.glyphicon-chevron-down

#content
  .container
    block content
